@import "styles/variables.css";

.container {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: var(--color-gray);

  flex: 1;
  justify-content: center;
}

.topbar {
  display: flex;
  flex-direction: row;
  max-height: 70px;

  margin: 5px;

  border: 3px solid var(--color-cape-cod);
  border-radius: 30px;
  background-color: var(--color-orange);

  flex: 1;
}

.board {
  display: flex;
  padding: 5px;

  flex: 1;
  justify-content: center;
}

.cells {
  display: flex;

  max-width: calc(var(--cell-width) * 16);

  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.cell {
  display: flex;

  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: 60px;
  min-width: var(--cell-width);
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-tuna);
}

.type-wall {
  background-color: var(--color-cape-cod);
}

.type-block {
  background-color: var(--color-tuna);
}

.type-free {
  background-color: var(--color-green);
}

.icon {
  font-size: 36px;
}
